*{
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}
body{
    background:rgb(215, 215, 215);
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:  0px 0px 1px rgb(111, 111, 111);
 overflow: hidden;
}
.nav-top{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: inset 7px 0px 10px rgba(165, 165, 165, 0.732);
   transition: 600ms ease-in-out;
}
.nav-top .text{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0 15%;
    line-height: 80px;
    font-weight:bold;
     
    
}
.nav-top #inserch{
    width: 255px;
    height: 20px;
    position: relative;
    right: 0%;
    border: 2px solid rgb(122, 113, 113);
    border-radius: 4px;
    box-shadow: inset 2px 5px 10px rgba(35, 45, 59, 0.269);
  transition: 1300ms ease-in-out;
}
.nav-top  #imgsearch{
    width: 20px;
    z-index: 2;
    position: relative;
    left: 3%;
}

.nav-left .profile{
    width: 43px;
    height: 45px;
    border-radius: 50%;
    margin: 0 19%;
     
}
@media only screen and (max-width: 900px) {
    .nav-top {
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .nav-top .profile{
        width: 12%;
        border-radius: 50%;
        margin: 0 15% -1.5%;
position: relative;
right: 12%;         
    }
  }
  @media only screen and (max-width: 544px) {
    .nav-top .text{
        font-size: 10px;
        position: relative;
        right: 0%;
        
    }
    .nav-top #inserch{
        width: 110px;
        position: relative;
        right: 10%;
    }
    .nav-top  #imgsearch{
        position: relative;
        right: 5%;
    }
    .nav-top .profile{
        position: relative;
        right: 20%;         
    }
    
  }
.nav-left .profile img{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
}
.nav-left #person , #howe {
    color:rgb(0, 0, 0);
    position: relative;
    bottom:40px;
    left:60px;
}
.nav-left #howe {
    font-size: 10px;
     color: rgb(117, 92, 92);
}
.nav-left{
    background: rgb(255, 255, 255);
    width: 150px;
     height: 82.9vh;
    display: flex;
    align-items: center;
   box-shadow: inset 0px 0px 20px  rgba(165, 165, 165, 0.732);
   transition: 600ms ease-in-out;
}
.dabands{
    position: relative;
    right: 41%;
    bottom: 2%; 
}
@keyframes dabands  {
     0%{opacity: 5;}
    100%{opacity: 0;}
}
 
/*  check box*/

#checkbox {
    display: none;
  }
  .checkboxs{
    position: relative;
    bottom: 195px;
    
  }
  .toggle {
    position: relative;
    left: 20%;
    top: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
    z-index: 2;
    
  }
  
  .bars {
    width: 60%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
     
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 60%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  /*check box*/
  /*button*/

  .nav-left .navbtn{
    width: 86%;
    height: 2.6em;
    margin: 2px;
    position: relative;
    bottom: 5px;
    right: 42%;
    border: 0;
    background:none ;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: color .5s;  
    border-radius: 6px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-shadow:  0px 0px 1px  rgba(187, 0, 255, 0.453);

  }
  #Dabang{
    position: relative;
    bottom: 25px;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-shadow:  0px 0px 1px  rgb(179, 0, 255);
  }

  #Dashboard{
   
    
  }